<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_piper">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dual_piper urdf file -->
    <xacro:include filename="$(find dual_piper_description)/urdf/dual_piper_isaac.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="dual_piper.ros2_control.xacro" />


    <xacro:dual_piper_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
